PORT=8000
CORS_ORIGIN=http://localhost:3000

MONGODB_URL= mongodb+srv://su30rai213_dbUser:***********@cluster0.fhsa7by.mongodb.net/
ACCESS_TOKEN_SECRET=replace-with-a-long-random-secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=replace-with-a-different-long-random-secret
REFRESH_TOKEN_EXPIRY=10d

RAZORPAY_KEY_ID=***********
RAZORPAY_KEY_SECRET=***********

# bdLgyByIEcQGssgb